<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
		<field
				name="moduleid"
				type="hidden"
				/>
                
		<field 
			name="title" 
			type="text"
			label="JGLOBAL_TITLE"
			description="COM_MODULES_FIELD_TITLE_DESC"
			class="input-xxlarge input-large-text"
			size="40"
			maxlength="100"
			readonly="true"

		/>
                                
		<field
				name="lscache_type"
				type="radio"
				label="COM_LSCACHE_ESI_CACHETYPE_LABEL"
				description="COM_LSCACHE_ESI_CACHETYPE_DESC"
				size="40"
				class="btn-group btn-group-yesno radio"
				default="1"
				>
                            <option value="1">COM_LSCACHE_ESI_CACHETYPE_PUBLIC</option>
                            <option value="-1">COM_LSCACHE_ESI_CACHETYPE_PRIVATE</option>
                            <option value="0">COM_LSCACHE_ESI_CACHETYPE_NONE</option>
                </field>
                <field name="note_lscache_type" type="note" class="alert alert-success" description="COM_LSCACHE_ESI_CACHETYPE_NOTE" />

		<field
				name="lscache_ttl"
				type="text"
				label="COM_LSCACHE_ESI_CACHETTL_LABEL"
				description="COM_LSCACHE_ESI_CACHETTL_DESC"
				size="40"
				class="inputbox"
				default="500"
				/>

		<field
				name="module_type"
				type="radio"
				label="COM_LSCACHE_ESI_MODULETYPE_LABEL"
				description="COM_LSCACHE_ESI_MODULETYPE_DESC"
				size="40"
				class="btn-group btn-group-yesno radio"
				default="0"
				>
                            <option value="0">COM_LSCACHE_ESI_MODULETYPE_DEFAULT</option>
                            <option value="1">COM_LSCACHE_ESI_MODULETYPE_ADVANCED</option>
                </field>

                <field name="note_module_type" type="note" class="alert alert-success" description="COM_LSCACHE_ESI_MODULETYPE_NOTE" />

		<field
				name="vary_language"
				type="radio"
				label="COM_LSCACHE_ESI_VARY_LANGUAGE_LABEL"
				description="COM_LSCACHE_ESI_VARY_LANGUAGE_DESC"
				size="40"
				class="btn-group btn-group-yesno radio"
				default="1"
				>
                                <option value="0">JDISABLED</option>
                                <option value="1">JENABLED</option>
                </field>

	</fieldset>
</form>